.rodape-card{
    color: #680610;
    height: 35px;
}

.btn-detalhes{
    background-color: #680610;
    color: #fff;
}

.btn-detalhes:hover{
    background-color: #A52A2A;
    color: #fff;
}

.card-text{
    max-height: 70px;
    min-height: 70px;
    overflow: hidden;
}

.img-cartao{
    max-height: 220px;
    min-width: 100%;
}
.bgc{
    background-color: #FBEFEF;
}